*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
API\ v1.0.2\ Installer/node_modules
/app/src/main/java/com/example/listi/network/RetrofitInstance.kt
/app/src/main/res/xml/network_security_config.xml

RetrofitClient.kt

app/src/main/java/com/example/listi/network/

fix
/fix
./fix
